<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.4.3" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.3" targetFramework="net461" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
</packages>